<div class="navbar">
    <div class="navbar-left">
        <img src="logo.png" alt="Logo" class="navbar-logo" />
    </div>
    <ul class="navbar-menu">
        <li class="navbar-menu-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li class="navbar-menu-item">
            <a href="{% url 'tips' %}">Tips</a>
        </li>
        <li class="navbar-menu-item">
            <a href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="navbar-menu-item">
            <a href="{% url 'create-mobileclinic' %}">Create mobileClinic</a>
        </li>
    <!-- Add more menu items here -->
    </ul>
    <div class="navbar-right">
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="profile-link">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="profile-link">Login</a>
            <a href="#" class="profile-link">Register</a>
        {% endif %}
    </div>
</div>