{% load static %}

<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #f8f4ec; border-bottom: 2px solid #eeb544;">
    <div class="container-fluid">
        <a href="{% url 'home' %}"><img src="{% static 'images/Logo.png' %}" class="navbar-brand" alt="Logo" style="width: 100px; height: 45.89px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if request.user.is_authenticated %}
            <div class="navbar-nav mx-auto">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-link" href="{% url 'tips' %}">Tips</a>
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                <a class="nav-link" href="{% url 'create-mobileclinic' %}">Create mobileClinic</a>
                <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>