{% extends 'main.html' %}

{% block content %}

{% if patients %}
<div class="row">
    <div class="col-4 offset-1">
        <div class="card my-5" id="cards">
            <div class="card-body">
                <h5 class="card-title">Date: {{activity.date}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Latitude:</strong> {{activity.latitude}}</li>
                <li class="list-group-item"><strong>Longitude:</strong> {{activity.longitude}}</li>
                <li class="list-group-item"><strong>Population_density:</strong> {{activity.population_density}}</li>
                <li class="list-group-item"><strong>Crisis_type:</strong> {{activity.crisis_type}}</li>
                <li class="list-group-item"><strong>Status:</strong> {{activity.status}}</li>
                <li class="list-group-item"><strong>Num_of_patients:</strong> {{activity.num_of_patients}}</li>
                <li class="list-group-item"><strong>Weather_status:</strong> {{activity.weather_status}}</li>
            </ul>
            {% if request.user == activity.mobile_clinic.manager %}
            <div class="card-body text-center">
                <a href="{% url 'update-activity' activity.id %}"><button class="btn btn-warning">Edit Activity</button></a>
                <a href="{% url 'delete-activity' activity.id %}"><button class="btn btn-danger">Delete Activity</button></a>
                <a href="{% url 'create-patient' activity.id %}"><button class="btn btn-success">Create Patient</button></a>
            </div>
            {% endif %}
            <div class="card-footer text-body-secondary text-center">
                <a href="{% url 'mobileclinic' activity.mobile_clinic.id %}"><button class="btn btn-primary">Go Back</button></a>
            </div>
        </div>
    </div>
    
    <div class="col-4 offset-1">
        <h1>Patients</h1>
        {% for patient in patients %}
            <div class="card my-5" id="cards">
                <div class="card-body">
                    <h5 class="card-title">Diagnosis: {{patient.diagnosis}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Medication_date:</strong> {{patient.medication_date}}</li>
                </ul>
                <div class="card-footer text-body-secondary text-center">
                    <a href="{% url 'patient' patient.id %}" class="card-link"><button class="btn btn-info">View Patient</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card my-5" id="cards">
                <div class="card-body">
                    <h5 class="card-title">Date: {{activity.date}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Latitude:</strong> {{activity.latitude}}</li>
                    <li class="list-group-item"><strong>Longitude:</strong> {{activity.longitude}}</li>
                    <li class="list-group-item"><strong>Population_density:</strong> {{activity.population_density}}</li>
                    <li class="list-group-item"><strong>Crisis_type:</strong> {{activity.crisis_type}}</li>
                    <li class="list-group-item"><strong>Status:</strong> {{activity.status}}</li>
                    <li class="list-group-item"><strong>Num_of_patients:</strong> {{activity.num_of_patients}}</li>
                    <li class="list-group-item"><strong>Weather_status:</strong> {{activity.weather_status}}</li>
                </ul>
                {% if request.user == activity.mobile_clinic.manager %}
                <div class="card-body text-center">
                    <a href="{% url 'update-activity' activity.id %}"><button class="btn btn-warning">Edit Activity</button></a>
                    <a href="{% url 'delete-activity' activity.id %}"><button class="btn btn-danger">Delete Activity</button></a>
                    <a href="{% url 'create-patient' activity.id %}"><button class="btn btn-success">Create Patient</button></a>
                </div>
                {% endif %}
                <div class="card-footer text-body-secondary text-center">
                    <a href="{% url 'mobileclinic' activity.mobile_clinic.id %}"><button class="btn btn-primary">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div> 

{% endblock %}