{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card shadow my-5" style="width: 400px; border: 2px solid #eeb544;">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="from-label">Username:</label>
                            <input type="text" id="username" placeholder="Enter Username" name="username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="from-label">password:</label>
                            <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </form>
                    <p>havent signed up yet? <a href="{% url 'register' %}">Sign up</a></p>
                    <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-primary">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card shadow my-3" style="width: 400px; border: 2px solid #eeb544;">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">Register</button>
                        </div>
                    </form>
                    <p>Already signed up? <a href="{% url 'login' %}">Login</a></p>
                    <a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-primary">Go Back</button></a>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endif %}

{% endblock %}