{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}
    
                <label for="username" class="from-label">Username:</label>
                <input type="text" id="username" placeholder="Enter Username" name="username" class="form-control">
    
                <label for="password" class="from-label">password:</label>
                <input type="password" name="password" id="password" placeholder="Enter Password" class="form-control">
    
                <button>Login</button>
            </form>
            <p>havent signed up yet?<a href="{% url 'register' %}">Sign up</a></p>
            <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        </div>
    </div>

{% else %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button>Register</button>
            </form>
            <p>Already signed up?<a href="{% url 'login' %}">Login</a></p>
            <a href="{{request.META.HTTP_REFERER}}">Go Back</a>
        </div>
    </div>
    
{% endif %}

{% endblock %}