{% extends 'main.html' %}

{% block content %}

<div>
    {% if request.user == patient.Activity.mobile_clinic.manager%}
        <a href="{% url 'activity' patient.Activity.id %}">Go Back</a>
        <a href="{% url 'update-patient' patient.id %}">Edit Patient</a>
        <a href="{% url 'delete-patient' patient.id %}">delete Patient</a>
    {% endif %}
    <p><strong>ID: </strong>{{patient.id}}</p>
    <p><strong>age:</strong> {{patient.age}}</p>
    <p><strong>gender:</strong> {{patient.gender}}</p>
    <p><strong>diagnosis:</strong> {{patient.diagnosis}}</p>
    <p><strong>medication_date:</strong> {{patient.medication_date}}</p>
</div>

{% endblock %}