{% extends 'main.html' %}

{% block content %}

<div>
    {% if request.user == resource.mobile_clinic.manager %}
        <a href="{% url 'update-resource' resource.id %}">edit resource</a>
        <a href="{% url 'delete-resource' resource.id %}">delete Resource</a>
    {% endif %}
    <p><strong>ID:</strong> {{resource.id}}</p>
    <p><strong>name:</strong> {{resource.name}}</p>
    <p><strong>type:</strong> {{resource.type}}</p>
    <p><strong>expiration_date:</strong> {{resource.expiration_date}}</p>
    <p><strong>quantity:</strong> {{resource.quantity}}</p>
</div>

{% endblock %}